---
import MainLayout from '@/layouts/MainLayout.astro'
import type { IGallery } from '@/types/gallery.d.ts'
import gallery from '@/data/gallery.json'

export async function getStaticPaths() {
  const paths = gallery.map((image: IGallery) => ({
    params: { id: image.id },
  }))

  return paths
}

const { id } = Astro.params

const image = gallery.find((img: IGallery) => img.id === id)

if (!image) {
  throw new Error('Imagen no encontrada')
}
---

<script>
  import '@github/relative-time-element'
</script>

<MainLayout customTitle='Detalles de la Imagen'>
  <article class='container'>
    <section class='module'>
      <!-- <p>Aquí módulo 1</p> -->
    </section>
    <div class='image-wrapper'>
      <figure>
        <img
          transition:name={`cat-img-${image.id}`}
          src={image.url}
          alt={`Imagen de gatito ${image.id}`}
          class='large-image'
          loading='lazy'
        />
        <button
          class='back-button'
          onclick='history.back()'
        >
          <svg
            xmlns='http://www.w3.org/2000/svg'
            width='1em'
            height='1em'
            viewBox='0 0 24 24'
          >
            <title>Back navigation arrow</title>
            <path
              fill='currentColor'
              d='m4 10l-.707.707L2.586 10l.707-.707zm17 8a1 1 0 1 1-2 0zM8.293 15.707l-5-5l1.414-1.414l5 5zm-5-6.414l5-5l1.414 1.414l-5 5zM4 9h10v2H4zm17 7v2h-2v-2zm-7-7a7 7 0 0 1 7 7h-2a5 5 0 0 0-5-5z'
            ></path>
          </svg>
        </button>
      </figure>
    </div>
    <article class='module info'>
      <section>
        <span>Fecha de publicación: </span>
      </section>
      <section>
        <relative-time
          datetime={image.publicationDate}
          lang='es-ES'
          format='datetime'
          weekday='long'
          day='numeric'
          month='long'
          year='numeric'
          format-style='long'
          precision='day'
        >
          1 de septiembre de 2023, 17:30
        </relative-time>
      </section>

      <section>Usuario: <strong>{image.user}</strong></section>
      <section>Nombre del gatito: <strong>{image.catName}</strong></section>
      <section>Lugar: <strong>{image.location}</strong></section>
      <section>
        {image.comment ? `Comentario: ${image.comment}` : ``}
      </section>
    </article>
  </article>
</MainLayout>

<style>
  .container {
    display: flex;
    align-items: center;
    padding: 20px;
  }

  .large-image {
    width: 700px;
    height: 600px;
    object-fit: contain;
    background-color: black;
  }

  relative-time {
    font-family: var(--font-body);
    font-weight: bold;
  }

  figure {
    position: relative;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3px;

    font-family: var(--font-body);
  }

  .image-wrapper {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .back-button {
    position: absolute;
    top: -20px;
    left: -20px;
    background-color: var(--color-bg-secondary);
    color: var(--color-bg-main);
    border: none;
    border-radius: 50%;
    padding: 8px;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
      background-color 0.3s ease,
      color 0.3s ease;
  }

  .back-button:hover {
    background-color: var(--color-bg-main);
    color: var(--color-bg-secondary);
  }

  .module {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    text-align: center;
  }

  @media (max-width: 1300px) {
    .container {
      flex-direction: column;
      justify-content: space-between;
    }
    .info {
      align-items: center;
    }
  }

  @media (max-width: 780px) {
    .large-image {
      width: 400px;
      height: 300px;
      object-fit: contain;
      background-color: black;
    }
  }

  @media (max-width: 525px) {
    .large-image {
      width: 200px;
      height: auto;
      object-fit: contain;
      background-color: black;
    }
  }
</style>
